.container {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 700px;
    margin: 20px 0px 20px 10px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.image, .details, .order {
    margin: 10px;
}

.image {
    vertical-align: center;
    align-items: center;
}

.image img {
    margin-top: 20px;
    vertical-align: center;
}

.image, .order {
    width: 130px;
}

.details {
    width: 570px;
}

.add {
    font-weight: 400;
    background-color: #FFBC0F;
    border-radius: 5px;
    padding: 7px 12px 7px;
    text-align: center;
}

.add:hover {
    cursor: pointer;
}

#customiz {
    font-size: 10px;
}

/* css for add,delete quantity */
