.container {
    text-align: left;
    width: 600px;
    margin: 20px;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
}

.heading p {
    color: red;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px;
    cursor: pointer;
}

.order {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.placeOrder {
    border-radius: 5px;
    font-weight: 500;
    padding: 10px;
    width: 400px;
    background-color: #FFBC0F;
}

.animation {
    width: 100%;
    height: 100%;
}